$color-background = #22232f
$color-footer-mobile-1 = lighten($color-background, 5%)
$color-footer-mobile-2 = lighten($color-background, 10%)
$color-background-code = lighten($color-background, 2%)
$color-border = #bb9ff2
$color-scrollbar = #bb9ff2
$color-meta = #908d8d
$color-meta-code = #908d8d
$color-link = #bb9ff2
$color-text = #c9cacc
$color-accent-3 = #FFFFFF
$color-accent-2 = #c9cacc
$color-accent-1 = #bb9ff2
$color-quote = #bb9ff2
$highlight = hexo-config("highlight") || "rainbow"